
<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../partials/head') %>
    <script defer src="/js/script.js"></script>
    <title>🕊 User</title>
</head>
<body>
    <div class="navbar-fixed">
        <nav>
          <div class="nav-wrapper blue darken-3">
            <a href="" class="brand-logo left">🕊 User</a>
            <ul class="right">
                <li style="padding-top: 3%;"><a href="/home" class="material-icons">home</a></li>
               <li><a href="/logout"><i class="material-icons left">trending_flat</i>Log Out</a></li> 
            </ul>
          </div>
        </nav>
      </div>
      <header class="container">
        
      </header>
      <!-- Show Profile Detail -->
     <main class="container">
      <% users.forEach( user => { %>
      <div class="row">
        <div class="col s12 m7">
          <div id="profile-details" class="card small">
            <div class="card-image">
              <img src="<%= user.avatarUrl%>">
              <span class="card-title"><%= user.name%></span>
            </div>
            <div style="color: lightslategrey; font-size: small; padding: 2%; margin-left: 2%;" class="card-content">
              <p><%= new Date(user.createdAt).toLocaleDateString()%> 
                <br />
                <p><%= user.bio%></p>
                <br />
                <!-- TODO add bio here -->
            </div>
            <div class="card-action">
              <!--! Edit Button here -->
              <button id="edit-button" style="float: right; color: skyblue; border-style: none; background-color: white;" >Edit Profile</button>
            </div>
      
          </div>
        </div>
      </div>

      <!-- TODO Profile Update -->
      <form class="hidden" id="edit-form" action="/profile/<%= user._id%>?_method=PUT" method="post">
        <div class="row">
          <div class="col s12 m7">
            <div id="edit" class="card small">
            
              <div class="card-image">
                <img src="<%= user.avatarUrl%>">
                <!-- Image input for Update -->
                <input style="text-align: left;" type="text" class="card-title" name="name" value="<%= user.name%>">
              </div>
              <div style="color: lightslategrey; font-size: small; padding: 2%; margin-left: 2%;" class="card-content">
                <p><%= new Date(user.createdAt).toLocaleDateString()%> 
                  <br />
                  <input type="text" name="bio" value="bio <%= user.bio%>">
                  <br />
                  <!-- TODO add bio here -->
              </div>
              <div class="card-action">
                <form  action="/users/<%= user._id%>?_method=PUT" method="POST">
                  <input
                    style=" border-style: none; color: lightblue; background-color: white; margin-left: 70%;"
                    type="submit" value="Update Profile">
                  </form>
              </div>
             
            </div>
          </div>
        </div>
      </form>
      <% }) %>
    </main>
</body>
</html>