
<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../partials/head') %>
    <title>🕊 User</title>
</head>
<body>
    <div class="navbar-fixed">
        <nav>
          <div class="nav-wrapper blue darken-3">
            <a href="" class="brand-logo left">🕊 User</a>
            <ul class="right">
                <li style="padding-top: 3%;"><a href="/home" class="material-icons">home</a></li>
               <li><a href="/logout"><i class="material-icons left">trending_flat</i>Log Out</a></li> 
            </ul>
          </div>
        </nav>
      </div>
      <header class="container">
        
      </header>
      <!-- Show Profile Detail -->
     <main class="container">
      <div class="row">
        <div class="col s12 m7">
          <div class="card small">
            <% users.forEach( user => { %>
            <div class="card-image">
              <img src="<%= user.avatarUrl%>">
              <span class="card-title"><%= user.name%></span>
            </div>
            <div style="color: lightslategrey; font-size: small; padding: 2%; margin-left: 2%;" class="card-content">
              <p><%= new Date(user.createdAt).toLocaleDateString()%> 
                <br />
                <p><%= user.email%></p>
            </div>
            <div style="color:lightsteelblue; font-size: small; padding: 2%; margin-left: 2%;" class="card-action">
              <p>Quote</p>
            </div>
            <% }) %>
          </div>
        </div>
      </div>
    </main>
</body>
</html>